form {
    margin-top: 15px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 16px;
    resize: vertical;
    transition: all 0.3s;
    background-color: var(--input-background-color); /* Modifica el color de fondo según tu esquema de colores */
    color: var(--text-pcolor); /* Modifica el color del texto según tu esquema de colores */
}

/* Estilo para el borde al hacer clic */
input[type="text"]:focus, textarea:focus {
    border-color: var(--primary-color); /* Color del borde al hacer clic */
    outline: none; /* Elimina el borde de enfoque predeterminado */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Opcional: añade un sombreado al hacer clic */
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    border: 2px solid var(--primary-color);
}

input[type="submit"]:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.p-button-primary{
    background-color: var(--primary-color);
    padding: 5px auto;
}