form{
    margin-top: 15px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 16px;
    resize: vertical;
    transition: all 0.3s;
}

input[type="submit"] {
    background-color: #341AF9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    border: 2px solid #341AF9;
}

input[type="submit"]:hover {
    background-color: #f5f5f5;
    color: #341AF9;
}