/* Estilos del slider */

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 20px 0;
    margin-top: 20px;
    white-space: nowrap;
}

.logos-slide {
    display: inline-block;
    animation: slide 20s linear infinite;
}

.logos-slide img {
    height: 80px;
    width: 80px;
    margin: 0 40px;
}

.mask-page{
    position: relative; 
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}

.logos:before,
.logos:after{
    position: absolute;
    top: 20px;
    width: 150px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before{
    left: 0;
    background: linear-gradient(to left,rgba(255, 255, 255, 0), var(--background-color));
}

.logos:after{
    right: 0;
    background: linear-gradient(to right,rgba(255, 255, 255, 0), var(--background-color));
}

/* Anchos espcificos */

#ts{
    width: 120px;
    height: 83px;
}

#html{
    height: 75px;
}

#astro{
    height: 80px;
    width: 80px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

#css{
    width: 95px;
}

/* Estilos de la linea del tiempo */

.curriculum-page{
    /*
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
*/
    padding-left: 15px ;
    max-width: 900px;
}

.curriculumList {
    border-inline-start: 4px solid var(--primary-color);
    position: relative;
    list-style: none;
    padding-left: 50px;
}

.curriculum-section-header{
    color: var(--text-pcolor);
}

.curriculumItemList time {
    color: var(--text-scolor);
}

.curriculumItemList h3 {
    color: var(--text-pcolor);
}

.curriculumItemList p {
    margin: 0px 0 35px 0;
    color: var(--text-scolor);
}

.curriculumItemList {
    padding-bottom: 40px;
}

.curriculumItemList .p-button-primary{
    background-color: var(--primary-color);
}

.decorativeCircleList {
    height: 20px;
    width: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    left: -12px;
    margin-top: 0px;
}

.curriculum-section-header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 815px) {
    .curriculumSection {
        max-height: none; /* Elimina la altura máxima */
        overflow-y: visible; /* Elimina el scroll */
        margin: 20px 0; /* Ajusta el margen para pantallas pequeñas */
    }

    .curriculum-page {
        display: block;
    }
}
.title{
    color: var(--text-scolor);
    font-weight: 500;
    line-height: 2;
}

.me{
    color: var(--text-pcolor);
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 20px;
}

.me strong{
    color: var(--primary-color);
}

.page>section{
    margin: 50px 0;
}

.page section>h2{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-pcolor);
}

.page section>p{
    font-weight: 450;
    font-size: 20px;
}
.curriculum-section-header  h2{
    margin-left: -10px;
}
