.slider{
    width: 100%;
    height: auto;
    margin: 50px auto;
    overflow: hidden;
}

.slider .slide-track{
    display: flex;
    animation: scroll 25s linear infinite;
    -webkit-animation: scroll 25s linear infinite;
    width: calc(200%); /* El ancho es el doble para incluir los elementos duplicados */
}

.slider .slide{
    width: calc(100% / 10); /* La cantidad de ítems totales que son 2 veces el número original */
    margin: 0 20px;
}

.slider .slide img{
    width: 100%;
    height: 80px;
}

@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

/* Estilos de la linea del tiempo */

.curriculum-page {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Espacio entre las secciones, opcional */
    margin-top: -20px ;
}

.curriculumSection {
    flex: 1;
    min-width: 300px; /* Ancho mínimo para que las secciones no se reduzcan demasiado en pantallas pequeñas */
    margin: 50px 0 10px 0px;
    max-height: 400px; /* Altura máxima de cada sección */
    overflow-y: auto; /* Añade scroll si el contenido excede la altura máxima */
    padding: 10px 50px 0px 40px;
}

/*Webkit(Android browser, Safari y otros webkit)*/
.curriculumSection::-webkit-scrollbar {
    width: 0;
}

.curriculumSection:hover::-webkit-scrollbar{
    width: 5px;
}

.curriculumSection:hover{
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    /*
    .curriculumSection:hover{
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    border-radius: 10px;
    }
    */
    border-radius: 10px;
}


.curriculumSection::-webkit-scrollbar-thumb {
    background-color:  var(--primary-color);
    border-radius: 10px;
}


.curriculumSection::-webkit-scrollbar-track {
    background: transparent;
}

.curriculumList {
    border-inline-start: 2px solid var(--primary-color);
    position: relative;
    list-style: none;
    padding-left: 20px;
}

.curriculum-section-header{
    color: var(--text-pcolor);
}

.curriculumItemList time {
    color: var(--text-scolor);
}

.curriculumItemList h3 {
    color: var(--text-pcolor);
}

.curriculumItemList p {
    margin: 0px 0 35px 0;
    color: var(--text-scolor);
}

.curriculumItemList {
    padding-bottom: 40px;
}

.curriculumItemList .p-button-primary{
    background-color: var(--primary-color);
}

.decorativeCircleList {
    height: 15px;
    width: 15px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    left: -8px;
    margin-top: 5px;
}

.curriculum-section-header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 815px) {
    .curriculumSection {
        max-height: none; /* Elimina la altura máxima */
        overflow-y: visible; /* Elimina el scroll */
        margin: 20px 0; /* Ajusta el margen para pantallas pequeñas */
    }

    .curriculum-page {
        display: block;
    }
}
