/*color: #fa4529;*/

.home{
    margin: 0;
    /* text-align: justify; */
    background-color: var(--background-color);
    color: var(--text-pcolor);
    --a-color: #f5f5f5;
}

.home h1{
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 20px;
}

.home strong{
    color: var(--primary-color);
}

.home .title{
    color: var(--text-scolor);
    font-weight: 340;
    line-height: 1.5;
}

.home .linkInicio{
    margin: 0 0 0 10px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    white-space: nowrap;
}

.home .link-button{
    margin: 0 0 0 10px;
    background-color: var(--primary-color);
}

.home section p{
    color: var(--text-scolor);
}