/*color: #fa4529;*/

.home{
    margin: 50px 0;
    /* text-align: justify; */
    background-color: var(--background-color);
    color: var(--text-pcolor);
    --a-color: #f5f5f5;
}

.home h1{
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 0;
}

.home strong{
    color: var(--primary-color);
}

.home .title{
    color: var(--text-scolor);
    font-weight: 340;
    line-height: 1.5;
}

.home .title a{
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 7px;
    border-radius: 8px;
    font-size: 20px;
    transition: all 350ms;
    color: var(--a-color);
    margin-left: 8px;
    margin-top: 8px;
    border: 2px solid var(--primary-color);
}

.home .title a:hover{
    background-color: var(--background-color);
    color: var(--primary-color);
    border-color:var(--primary-color);
}

.home section p{
    color: var(--text-scolor);
}