/* src/components/ToggleButton.css */
.toggle-button {
    color: var(--primary-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease; 
}

.toggle-button img,
.toggle-button svg {
    width: 25px; 
    height: 25px; 
}